//
// fonts.css from the YUI Library: developer.yahoo.com/yui/
//           Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages
// 
// There are two custom edits:
//  * make the line-height relative and unit-less
//  * remove the pre,code styles as we use a recommendation from Eric Meyer instead
//

@mixin html5-boilerplate-fonts {
  body { @include body-font; }

  table { @include table-font; }

  select, input, textarea { @include input-font; }

  code, pre { @include monospace-font; }
}

@mixin body-font {
  font:$html5-bolierplate-font-size $html5-bolierplate-font-family; *font-size:small; *font:x-small; line-height:1.22;
}

@mixin input-font {
  font:99% $html5-bolierplate-font-family;
}

@mixin table-font {
  font-size:inherit; font:100%;
}

// normalize monospace sizing 
// meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
@mixin monospace-font {
  font-family: $html5-bolierplate-fixed-font-family; font-size: 1em;
}