//
// fonts.css from the YUI Library: developer.yahoo.com/yui/
//           Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages
// 
// There are three custom edits:
//  * remove arial, helvetica from explicit font stack
//  * make the line-height relative and unit-less
//  * remove the pre, code styles
//

@mixin html5-boilerplate-fonts {
  body { @include body-font; }

  table { @include table-font; }

  select, input, textarea { @include input-font; }

  pre, code, kbd, samp { @include monospace-font; }
}

@mixin body-font {
  font: $html5-boilerplate-font-size $html5-boilerplate-font-family; *font-size:small; *font:x-small; line-height:1.22;
}

@mixin input-font {
  font: 99% $html5-boilerplate-font-family;
}

@mixin table-font {
  font-size:inherit; font: 100%;
}

// normalize monospace sizing 
// meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
// en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
@mixin monospace-font {
  font-family: $html5-boilerplate-fixed-font-family;
}