//
// Non-semantic helper classes
//

@import "compass/utilities/text/replacement";

@mixin html5-boilerplate-helpers {
  .ir { @include image-replacement; }

  .hidden { @include hidden; }

  .visuallyhidden { @include visually-hidden; }

  @include clearfix;
}

// for image replacement
@mixin image-replacement($img: none, $x: 50%, $y: 50%) {
  @include hide-text;
  direction: ltr;
  background-repeat: no-repeat;
  @if $img != none {
    background-image: image-url($img);
    background-position: $x $y;
  }
}

@mixin sized-image-replacement($img, $x: 50%, $y: 50%) {
  @include image-replacement($img, $x, $y);
  width: image-width($img);
  height: image-height($img);
}

// Hide for both screenreaders and browsers
// css-discuss.incutio.com/wiki/Screenreader_Visibility
@mixin hidden {
  display:none;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders
// www.webaim.org/techniques/css/invisiblecontent/
// Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal!
@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);  // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

// Hide visually and from screenreaders, but maintain layout
@mixin invisible { visibility: hidden; }

// The Magnificent CLEARFIX
// Make any element or classname a
// clearfix by passing in a selector
@mixin clearfix($selector: '.clearfix') {
  #{$selector}:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  #{$selector} { zoom: 1; }
}