// This file must be imported before html5-boilerplate/page

$font-color: #444;

$link-color: #607890;

$link-hover-color: #036;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;

$selected-background-color: #FF5E99;