$html5-bolierplate-font-family: arial, helvetica, "Nimbus Sans L", "Bitstream Vera Sans", sans-serif;

$html5-bolierplate-fixed-font-family: "Courier New", monospace, serif;

$html5-bolierplate-font-size: 13px !default;

$html5-bolierplate-font-color: #444;  //looks better than black: twitter.com/H_FJ/statuses/11800719859

$html5-bolierplate-link-color: #607890;

$html5-bolierplate-link-hover-color: #036;

$html5-bolierplate-link-active-color: #607890;

$html5-bolierplate-link-visited-color: #607890;

$html5-bolierplate-selected-font-color: #fff;

$html5-bolierplate-selected-color: #FF5E99;

$html5-bolierplate-selected-font-color: #fff;