// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('sans-serif');

$base-font-size: 13px;

$base-line-height: 1.231;

$font-color: #444;

$link-color: #607890;

$link-hover-color: #036;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;

$selected-background-color: #FF5E99;

$list-left-margin: 1.8em;