body, select, input, textarea { color: $html5-boilerplate-font-color; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

html {
  @include font-smoothing;
  @include force-scrollbar;
}

@include accessible-focus;

a, a:active, a:visited { color: $html5-boilerplate-link-color; }
a:hover { color: $html5-boilerplate-link-hover-color; }

ul { margin-left: 30px; }
ol { margin-left: 30px; list-style-type: decimal; }

small { @include small; }
strong, th { @include strong; }

td, td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

@include quoted-pre;

@include align-input-labels;

@include hand-cursor-inputs;

@include selected-text;

@include webkit-tap-highlight;

@include ie-hacks;