// This file must be imported before any includes you
// want the defaults to be overridden inside of.

$html5-boilerplate-font-color: #444;

$html5-boilerplate-link-color: #607890;

$html5-boilerplate-link-hover-color: #036;

$html5-boilerplate-link-active-color: #607890;

$html5-boilerplate-link-visited-color: #607890;

$html5-boilerplate-selected-font-color: #fff;

$html5-boilerplate-selected-color: #FF5E99;

$html5-boilerplate-selected-font-color: #fff;