$html5-boilerplate-font-family: sans-serif;

$html5-boilerplate-fixed-font-family: "Courier New", monospace, serif;

$html5-boilerplate-font-size: 13px !default;

$html5-boilerplate-font-color: #444;  //looks better than black: twitter.com/H_FJ/statuses/11800719859

$html5-boilerplate-link-color: #607890;

$html5-boilerplate-link-hover-color: #036;

$html5-boilerplate-link-active-color: #607890;

$html5-boilerplate-link-visited-color: #607890;

$html5-boilerplate-selected-font-color: #fff;

$html5-boilerplate-selected-color: #FF5E99;

$html5-boilerplate-selected-font-color: #fff;