<!doctype html>
 <!-- http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither -->
    <!--[if lt IE 7 ]> <html class="ie6 no-js"> <![endif]-->
    <!--[if IE 7 ]>    <html class="ie7 no-js"> <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8 no-js"> <![endif]-->
    <!--[if IE 9 ]>    <html class="ie9 no-js"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <html class="no-js" />
    <!--<![endif]-->
      
  <head>
    <meta name="charset" content="utf-8"/>
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title></title>

    <meta name="description" content=""/>
    <meta name="author" content=""/>
    
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     
    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->
    
    <link href="css/style.css?v=1" media="all" rel="stylesheet" type="text/css" />
    <!-- Uncomment if you are specifically targeting less enabled mobile browsers -->
    <!-- <link href="css/handheld.css?v=1" media="handheld" rel="stylesheet" type="text/css" /> -->

    
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="js/modernizr.min.js" type="text/javascript"></script>
    
</head>
  <body lang="en">
    <div id="container">
        <header>
        </header>
        <div id="main">
        </div>
        <footer>
            <%= Date.today.year %>
        </footer>
    </div>
    
  <!-- Javascript at the bottom for fast page loading -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" />

  <script type="text/javascript" charset="utf-8">
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))
  </script>
  <script src="js/plugins.js?v=1" />
  <script src="js/script.js?v=1" />
    
    <!-- [if lt IE 7 ] -->
    <script src="js/dd_belatedpng.js" />
    <script type="text/javascript" charset="utf-8">
        //DD_belatedPNG.fix('img, .png_bg');
    </script>
    <!-- [ endif ] -->
        
    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet -->
    <!-- change the UA-XXXXX-X to be your site's ID -->
    <script type="text/javascript" charset="utf-8">
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function(d, t) {
       var g = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
       g.async = true;
       g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       s.parentNode.insertBefore(g, s);
      })(document, 'script');
    </script>
</body>
</html>